# import mysql connector

In [1]:
import mysql.connector as con

# connection to database

In [3]:
import mysql.connector as con 
new_db = con.connect(
 host = "localhost",
 user = "root",
 password = "root"
)
print(new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002A773C53DC0>

# creating DATA BASE

In [4]:
import mysql.connector as con 
new_db = con.connect(
 host = "localhost",
 user = "root",
 password = "root"
)
print(new_db)
new_cursor = new_db.cursor()
new_cursor.execute("CREATE DATABASE college")

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002A774E872B0>

# check database created or not ?

In [7]:
import mysql.connector as con 
new_db = con.connect(
 host = "localhost",
 user = "root",
 password = "root"
)
print(new_db)
new_cursor = new_db.cursor()
new_cursor.execute("SHOW DATABASES")
for a in new_cursor:
    print(a)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002A771F71C70>
('college',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

# Creating Tables and Showing Data

In [24]:
import mysql.connector as con 
new_db = con.connect(
 host = "localhost",
 user = "root",
 password = "root",
 database = "college"
)
new_cursor = new_db.cursor()
new_cursor.execute ("CREATE TABLE student1(rno int,name varchar(100))")

# SHOWING TABLES FROM DATABASES

In [11]:
import mysql.connector as con 
new_db = con.connect(
 host = "localhost",
 user = "root",
 password = "root",
 database = "college"
)
new_cursor = new_db.cursor()
new_cursor.execute ("SHOW TABLES")
for n in new_cursor:
    print(n)

('student',)

# INSERTING DATA INTO TABLES

In [25]:
import mysql.connector as con 
new_db = con.connect(
 host = "localhost",
 user = "root",
 password = "root",
 database = "college"
)
new_cursor = new_db.cursor()
query = "INSERT INTO student1 (rno,name) VALUES (%s, %s)"
values = "39321702","gururaj"
new_cursor.execute (query,values)
new_db.commit()
print(new_cursor.rowcount,"new record inserted")

1 new record inserted

# INSERTING MULTIPLE VALUES INTO TABLE

In [43]:
import mysql.connector as con 
new_db = con.connect(
 host = "localhost",
 user = "root",
 password = "root",
 database = "college"
)
new_cursor = new_db.cursor()
query = "INSERT INTO student1 (rno, name) VALUES (%s, %s)"
values = [("9391902","Rahul"),
          ("3931903","Akash"),
          ("3931904","Omkar"),
          ("3931905","Abhinav")
         ]
new_cursor.executemany(query,values)
new_db.commit()
print(new_cursor.rowcount,"new record inserted")

4 new record inserted

# DISPLAY RECORDS FROM TABLES

In [45]:
new_cursor = new_db.cursor()
new_cursor.execute("SELECT * FROM student1 ")
for a in new_cursor:
    print(a)

(39321702, 'gururaj')
(9391902, 'Rahul')
(3931903, 'Akash')
(3931904, 'Omkar')
(3931905, 'Abhinav')

# Display particular Record from Database

In [1]:
new_cursor = new_db.cursor()
new_cursor.execute("SELECT name FROM student1 ")
for a in new_cursor:
    print(a)

NameError: name 'new_db' is not defined

In [2]:
import mysql.connector as con 
new_db = con.connect(
 host = "localhost",
 user = "root",
 password = "root",
 database = "college"
)
new_cursor = new_db.cursor()
new_cursor.execute ("SELECT name FROM STUDENT1")
for n in new_cursor:
    print(n)

('gururaj',)
('Rahul',)
('Akash',)
('Omkar',)
('Abhinav',)