In [202]:
pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (2.11.0)
Requirement already satisfied: tensorflow-intel==2.11.0 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorflow) (2.11.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.6.3)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.42.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (0.29.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (3.6.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (3.19.1)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.3.0)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (2.11.0)
Requirement already satisfied: packaging in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (21.3)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.12.1)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (0.2.0)
Requirement already satisfied: numpy>=1.20 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.21.5)
Requirement already satisfied: six>=1.12.0 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.16.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (3.3.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (0.4.0)
Requirement already satisfied: setuptools in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (61.2.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (14.0.6)
Requirement already satisfied: tensorboard<2.12,>=2.11 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (2.11.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (4.1.1)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (2.1.1)
Requirement already satisfied: keras<2.12,>=2.11.0 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (2.11.0)
Requirement already satisfied: flatbuffers>=2.0 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (22.12.6)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.11.0->tensorflow) (0.37.1)
Requirement already satisfied: markdown>=2.6.8 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (3.3.4)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (1.8.1)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.27.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.6.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (1.33.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.4.6)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.0.3)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (4.2.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (4.7.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.4.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (1.26.9)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (3.2.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\cs-l2-pc07\anaconda3\lib\site-packages (from packaging->tensorflow-intel==2.11.0->tensorflow) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [203]:
import tensorflow as tr

In [204]:
import pandas as pd 
import numpy as np

In [205]:
df = pd.read_csv('dataset/titanic.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
1,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
2,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
3,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
4,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
896,887,0.0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
897,888,1.0,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
898,889,0.0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
899,890,1.0,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
900,891,0.0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [206]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
1,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
2,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
3,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
4,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [207]:
df.fillna(method='ffill',inplace = True)

In [208]:
x = df.iloc[:,[2,5,6,7]]
x

     Pclass   Age  SibSp  Parch
0         3  22.0      1      0
1         3  22.0      1      0
2         3  22.0      1      0
3         3  22.0      1      0
4         3  22.0      1      0
..      ...   ...    ...    ...
896       2  27.0      0      0
897       1  19.0      0      0
898       3  19.0      1      2
899       1  26.0      0      0
900       3  32.0      0      0

[901 rows x 4 columns]

In [209]:
y = df['Survived']
y

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
896    0.0
897    1.0
898    0.0
899    1.0
900    0.0
Name: Survived, Length: 901, dtype: float64

In [210]:
from sklearn.model_selection import train_test_split

In [211]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state=42)

In [212]:
x_train

     Pclass   Age  SibSp  Parch
10        3  22.0      1      0
375       3  30.0      0      0
247       2   8.0      0      2
388       3  20.0      0      0
433       3  28.0      1      1
..      ...   ...    ...    ...
106       1  71.0      0      0
270       3  50.0      0      0
860       3   4.0      4      2
435       3  18.0      0      0
102       1  46.0      1      0

[720 rows x 4 columns]

In [213]:
y_train

10     0.0
375    0.0
247    1.0
388    0.0
433    0.0
      ...
106    0.0
270    0.0
860    0.0
435    0.0
102    0.0
Name: Survived, Length: 720, dtype: float64

In [214]:
x_test

     Pclass   Age  SibSp  Parch
70        3  22.0      0      0
235       3  22.0      0      0
430       3  10.0      0      0
412       3  21.0      1      0
39        3  19.0      0      0
..      ...   ...    ...    ...
861       3  74.0      0      0
440       1  28.0      0      0
780       3  24.0      0      0
25        2  55.0      0      0
84        3  32.0      0      0

[181 rows x 4 columns]

In [215]:
y_test

70     0.0
235    0.0
430    0.0
412    0.0
39     0.0
      ...
861    0.0
440    1.0
780    0.0
25     1.0
84     1.0
Name: Survived, Length: 181, dtype: float64

In [216]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [217]:
t1 = ColumnTransformer(transformers=[
    ('t1',OneHotEncoder(drop = 'first',sparse = False),['Sex','Embarked'])
],remainder='passthrough')

In [218]:
from sklearn.tree import DecisionTreeClassifier

In [219]:
dtc = DecisionTreeClassifier()

In [220]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier()

In [221]:
y_pred = dtc.predict(x_test)

In [222]:
dtc.score(x_train,y_train)

0.8736111111111111

In [223]:
from sklearn.metrics import accuracy_score

In [224]:
accuracy_score(y_test,y_pred)

0.5911602209944752

In [225]:
model = tr.keras.models.Sequential([
    tr.keras.layers.Dense(128,activation='relu'),
    tr.keras.layers.Dense(2)
])

In [226]:
model.compile(optimizer='adam',
             loss=tr.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
              metrics=['accuracy'])

In [227]:
model.fit(x_train,y_train,epochs=5)

Epoch 1/5
23/23 [==============================] - 1s 394us/step - loss: 0.9848 - accuracy: 0.5500
Epoch 2/5
23/23 [==============================] - 0s 809us/step - loss: 0.6379 - accuracy: 0.6514
Epoch 3/5
23/23 [==============================] - 0s 812us/step - loss: 0.6305 - accuracy: 0.6389
Epoch 4/5
23/23 [==============================] - 0s 710us/step - loss: 0.6170 - accuracy: 0.6611
Epoch 5/5
23/23 [==============================] - 0s 815us/step - loss: 0.6073 - accuracy: 0.6778

In [228]:
from sklearn.neural_network import MLPClassifier

In [257]:
nn_model = MLPClassifier(hidden_layer_sizes=(255))

In [258]:
nn_model.fit(x_train,y_train)

MLPClassifier(hidden_layer_sizes=255)

In [259]:
y_pred11 = nn_model.predict(x_test)

In [260]:
accuracy_score(y_test,y_pred11)

0.6850828729281768